<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Library</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
      }
      .container {
        width: 80%;
        margin: 0 auto;
      }
      h1 {
        text-align: center;
        margin-top: 20px;
      }
      .filter-section {
        text-align: center;
        margin: 20px 0;
        background-color: #eee;
      }
      .genre-button {
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        color: black;
        font-family: Helvetica;
      }
      .genre-button:hover {
        background-color: #333333;
        color: white;
      }
      .new-button {
        background-color: black;
        color: #fff;
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        transition: background-color 0.1s ease;
      }
      .new-button:hover {
        background-color: darkgray;
      }
      .game {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        margin: 10px 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        flex-grow: 1;
      }
      .game-info {
        flex: 1;
        padding-bottom: 2rem;
      }
      .game-info h2 {
        margin: 0;
        color: #333;
      }
      .game-info p {
        margin: 5px 0;
        color: #666;
      }
      .game-info .genre {
        font-weight: bold;
        color: #007bff;
      }
      .delete-button,
      .edit-button {
        background-color: #ff4d4d;
        color: #fff;
        border: none;
        padding: 5px;
        height: 3rem;
        width: 5rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
      }
      .delete-button:hover {
        background-color: #ff1a1a;
      }
      .edit-button {
        background-color: #ffc107;
      }
      .edit-button:hover {
        background-color: #e0a800;
      }
      .search-input {
        padding: 8px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 10px;
      }
      .search-div {
        display: flex;
        justify-content: center;
      }
      .search-input {
        padding: 10px;
        width: 18rem;
      }

      .search-button {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
      }

      .image-place {
        width: 100%;
        object-fit: cover;
      }

      .game-edit {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        background-color: #eee;
        padding: 1rem;
        opacity: 0; /* Initially hide the element */
        visibility: hidden; /* Initially hidden */
        transition: opacity 0.6s ease, visibility 0s linear 0.6s; /* Transition visibility after opacity */
      }

      .game-card:hover .game-edit {
        opacity: 1; /* Make the element visible */
        visibility: visible; /* Make it interactable */
        transition: opacity 0.4s ease, visibility 0s linear 0s; /* Remove delay for visibility */
      }

      .game-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 1rem;
      }

      .links {
        display: flex;
        justify-content: center;
        align-content: center;
      }
      a {
        text-decoration: none;
        color: inherit;
      }

      .authors-btn {
        position: absolute;
        right: 20px;
        background-color: white;
        inset: none;
        color: black;
        font-size: 16px;
        border-radius: 6px;
        padding: 5px;
        border: 1px solid grey;
      }
      .authors-btn:hover {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <button class="authors-btn">
        <a
          href="/authors"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
          "
        >
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABvUlEQVRIS+2W4U0DMQyF2w1gAsoGsEGZAJiAsgFMQJkANqAbwAbcBpQJ6AYwAu+TYsm9y8WhV3R/aslKlcR+frbj63QykkxHwp0cgHfN/JkMH6TXtQ5qUz1Pjo+0oo30UbpJQO9aucP+RQ14DfAygeb83WpzJTVg7rzVMI+Ar+TktcDgR2fnibkHP3XZyJpHwIACXhIYw5w6f6SL91qfS0YR8LeMqWlJ1ok1d76ks5p0l4ABBDiSHLBlodc2YkzqSGFJSCmp9YEOBq5pLt5uI72TPqUI2aO7d2aMIc5w2hY6GqawIyt0NazZp6tZBwFjvJDeSOfJYaOVAUJ9PagBEQydPhi45IMzSnKZArS7BAU4a0ei5oINLE8SM3NAGjfSTyns+W3iS9Ob9j5gavWSmERsObfOtru+0QisM79zwDBkYkWDox0QKaWbjb2fep0ubwMDxvT5K6gF4dkV33UbuO/p1KTb7vg5TbkWUmp97J144NoRGQXhQQAFHNn6YnlgOti+LpHz6Nz8zhJj7q9c/bf+7PlOjBxH53yjs+/XDD3jpTb537QP4fk0JUfRANlHEFkfB+B/S23b8Wip/gXzHVcfj6nPMQAAAABJRU5ErkJggg=="
            alt="Authors Icon"
            style="width: 30px; height: 30px; margin-right: 10px"
          />
          <span>Authors</span>
        </a>
      </button>
      <h1>Inventory Hub</h1>

      <!-- Genre filter buttons and New button -->
      <div class="filter-section">
        <a href="/"><button class="genre-button">All</button></a>
        <a href="/?filter=action"
          ><button class="genre-button">Action</button></a
        >
        <a href="/?filter=adventure"
          ><button class="genre-button">Adventure</button></a
        >
        <a href="/?filter=role-playing"
          ><button class="genre-button">Role-playing</button></a
        >
        <a href="/?filter=simulation"
          ><button class="genre-button">Simulation</button></a
        >
        <a href="/?filter=strategy"
          ><button class="genre-button">Strategy</button></a
        >

        <a href="/new">
          <button class="new-button">New Game</button>
        </a>

        <!-- Search input field below buttons -->
      </div>

      <div class="search-div">
        <form action="/" method="get" style="margin-top: 20px">
          <input
            type="text"
            name="search"
            class="search-input"
            placeholder="Search games..."
          />
          <button type="submit" class="search-button">Search</button>
        </form>
      </div>

      <!-- Game cards will be dynamically inserted here -->
      <div id="gameList">
        <% games.forEach((game) => { %>
        <div class="game-card">
          <img src="<%=game.cover%>" class="image-place" alt="test" />

          <div class="game">
            <div class="game-info">
              <h2><%= game.title %></h2>
              <p><strong>Author:</strong> <%= game.author_name %></p>
              <p class="genre">
                <strong>Genre:</strong> <%= game.genre_name %>
              </p>
              <p><%= game.description %></p>
            </div>
            <div class="game-edit hide">
              <div class="links">
                <a href="/edit/<%= game.id %>">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABrklEQVRIS82Wi1HDMAxA2w0YoWwAG5QJgA1gA5iAMgEwAWwAG5ANYAO6AYyA3p3lU4Xj2LW5VHe6JP7o6WM7Xi5mkuVM3MXBgY8kEytRniXyKYN+wkDm3Iieiw6iT6JbbyQVMZPuKqCPMvbWQJ/l/cKAcOhMFOeieDDefnWCAjoJJOCnNnIPXkvnexhMFDte+nSFVNKMwzZSsnAfMkcGkRfRa7WRA5OeIQHzTUBfRXEawVnmas0JhD6+j7W9FQwUw5pSdYpoN6J2vbzJ92WPiD2UVLKodCcAIlK+iRbo0Ar2UK0p7R8GDgcotcWRKPukegyqNSXFbMdRKB214CkoNX2YgtaCU1A9OLCVg15JP6s9bs/SiFcyidXLE6GmNVCyUL24WqBrAbLHydbOuVASMZP1NKuJlMzYuU1gO9nX9M+PoCdYz28isVsmBe0acVhb8cHeHYP+G3gK2gxmRZJaL+zJbaLdNjUtrgnb2e69wP4iQGr1z1PqDL9LPUKz2wnD36VWK8dxCYilSV32NmarVNoeHe4PntF7NZGTph5CieLPQQ0e3IW+R6RZG7NF/AsySJwfg9EcMAAAAABJRU5ErkJggg=="
                  />
                </a>
              </div>
              <div class="links">
                <a href="/delete/<%= game.id %>">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABGElEQVRIS+2WXRHCMBCEWwdIqAQcAA5AAcUBDmgVIIHiAAeAAxyABBzA7kzCZNqQ3zLhITfDQ5O7+y57Kb2ySGRlIm7hC96i0Imh2Mb1ID5gQveWxB32Ny5wV3CNZAeXhPBZ4Xey+fbBcwScbUGB+wvEXWTs34ArVERZf2Hs/+PbiVXgFA+mG+xS3BNON52j6XKx1+x5jLGn7O3AMliVpC91KzZnmhZQ0qvY3ylJRpFatqVBYjU5OSyK67RXBsfe6iy1qmC+XFKN/B5/7oXPR0J+ZdaIrnvvZofno1hTJ5hRpNb9D9jWgsCcKDlZxhiHPg5/AzNJXcH7HkHl9EEoT+0FpjPHn2UAnFACtWMP87nO1QFsc0gy8BsEolkfvKIjQQAAAABJRU5ErkJggg=="
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>

  <script>
    document.querySelectorAll(".game-card").forEach((card) => {
      const gameEdit = card.querySelector(".game-edit");

      card.addEventListener("mouseenter", () => {
        gameEdit.classList.remove("hide");
      });

      card.addEventListener("mouseleave", () => {
        gameEdit.classList.add("hide");
      });
    });
  </script>
</html>

<!-- c440f23312eb4c88b83918b21875ecd7 -->
